@tailwind base;
@tailwind components;
@tailwind utilities;

.around-head {
  position: relative;
  width: 1em;
  height: 75%;
  left: 40%;
  top: 1em;
}
.head {
  align-items: center;
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 4em;
  line-height: 5em;

  color: #ffffff;

  text-shadow: 4px 4px 8px #ea33f8;
}
.around-abt {
  position: absolute;
  width: 76%;
  height: 12em;
  left: 12%;
  top: 20em;

  background: black;
  background-blend-mode: hue;
  border: 0.1em solid #3f3c3c;
  box-sizing: border-box;
  box-shadow: 3px 1px 22px 1px #ea33f8;
  border-radius: 1.2em;
}
.Text {
  font-family: "Sansation";
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.6em;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "pnum" on, "lnum" on, "ss01" on, "ss03" on;

  color: #ffffff;
}
