@tailwind base;
@tailwind components;
@tailwind utilities;

.bground {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10;
}
.around-head {
  position: relative;
  width: 0.5em;
  height: 75%;
  padding-left: 20;
  padding-top: 20;
  left: 15%;
  border-bottom: 2 solid black;
}
.head {
  align-items: center;
  font-family: "Sansation";
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 15em;

  color: #ffffff;

  text-shadow: 4px 4px 8px #ea33f8;
}
.around-abt {
  position: absolute;
  width: 60%;
  height: 12em;
  left: 20%;
  top: 30em;
  padding-left: 20;
  padding-top: 10;
  align-items: center;
  justify-content: center;
  background: black;
  background-blend-mode: hue;
  border: 0.1em solid #3f3c3c;
  box-sizing: border-box;
  box-shadow: 3px 1px 22px 1px #ea33f8;
  border-radius: 1.2em;
}
.Text {
  font-family: "Sansation";
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.6em;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "pnum" on, "lnum" on, "ss01" on, "ss03" on;

  color: #ffffff;
}
