.right-top-aquaris {
  position: absolute;
  height: 292.2456359863281px;
  width: 277.298095703125px;
  left: 1613.099365234375px;
  top: 92.5714111328125px;
  border-radius: 0px;
}

.left-top-libra {
  position: absolute;
  width: 223.04px;
  height: 269.74px;
  left: 220.89px;
  top: 104.72px;
}

.left-bottom-leo {
  position: absolute;
  width: 450.37px;
  height: 211.25px;
  left: 51.15px;
  top: 801.26px;
}

.virgo {
  position: absolute;
  width: 254.86px;
  height: 229.14px;
  left: 890.78px;
  top: 47.31px;
}

.pisces {
  position: absolute;
  width: 370.71px;
  height: 310.66px;
  left: 1454px;
  top: 749.69px;
}

.aries {
  position: absolute;
  width: 392.19px;
  height: 178.15px;
  left: 1391.01px;
  top: 712.8px;
}
