.right-top-aquaris {
  position: absolute;
  height: 292.2456359863281px;
  width: 277.298095703125px;
  left: 1613.099365234375px;
  top: 92.5714111328125px;
  border-radius: 0px;
}
.polka-dot {
  width: 240px;
  height: 240px;
  background-color: #000;
  background-image: radial-gradient(#fff 10%, transparent 11%),
    radial-gradient(#fff 10%, transparent 11%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
}
.left-top-libra {
  position: absolute;
  width: 223.04px;
  height: 269.74px;
  left: 220.89px;
  top: 104.72px;
}

.left-bottom-leo {
  position: absolute;
  width: 450.37px;
  height: 211.25px;
  left: 51.15px;
  top: 801.26px;
}

.virgo {
  position: absolute;
  width: 254.86px;
  height: 229.14px;
  left: 890.78px;
  top: 47.31px;
}

.pisces {
  position: absolute;
  width: 370.71px;
  height: 310.66px;
  left: 1454px;
  top: 749.69px;
}

.aries {
  position: absolute;
  width: 392.19px;
  height: 178.15px;
  left: 1391.01px;
  top: 712.8px;
}

.bg-images {
  background-image: url("../images/svgs/background.svg");
}
