/* .card {
  color: white;
}
.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-content {
  transform: rotateY(180deg);
}

.card-content,
.flip-card-back {
  -webkit-backface-visibility: hidden; 
backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.card_one {
  background-color: "#B4006C";
}

.background-card {
  background: rgba(255, 255, 255, 0.25);
}

.mgnt-color {
  background: rgba(234, 13, 145, 0.45);
  box-shadow: 0px 4px 25px 15px rgba(2, 2, 2, 0.7);
}

*/

.trackcard {
  width: 340px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}

.trackcard a {
  color: inherit;
  text-decoration: none;
}

.trackcard:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.trackcard__thumb {
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.trackcard__thumb img {
  width: 100%;
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.trackcard:hover .trackcard__thumb {
  height: 130px;
}

.trackcard:hover .trackcard__thumb img {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.trackcard__body {
  position: relative;
  height: 60px;
  padding-top: 10px;
  text-align: center;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.trackcard:hover .trackcard__body {
  height: 200px;
}


.trackcard__title {
  margin: 0;
  padding: 0 0 10px 0;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.trackcard__description {
  color: #fff;
  line-height: 27px;
  opacity: 0;
  padding: 0 20px;
  -webkit-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.trackcard:hover .trackcard__description {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

@media only screen and (max-width: 600px) {
  .trackcard {
    width: 280px;
    margin: auto;
  }

  .trackcard__thumb {
    height: 240px;
  }

  .trackcard:hover .trackcard__body {
    height: 220px;
  }


  .trackcard__description {
    padding: 0 10px;
  }
}


.speakercard {
  width: 340px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}

.speakercard a {
  color: inherit;
  text-decoration: none;
}

.speakercard:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.speakercard__thumb {
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.speakercard__thumb img {
  width: 100%;
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.speakercard:hover .speakercard__thumb {
  height: 150px;
}

.speakercard:hover .speakercard__thumb img {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.speakercard__body {
  position: relative;
  height: 90px;
  padding-top: 10px;
  text-align: center;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.speakercard:hover .speakercard__body {
  height: 200px;
}


.speakercard__title {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.speakercard__description {
  color: #fff;
  line-height: 27px;
  opacity: 0;
  padding: 0 20px;
  -webkit-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.speakercard:hover .speakercard__description {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

@media only screen and (max-width: 600px) {
  .speakercard {
    width: 280px;
    margin: auto;
  }

  .speakercard__thumb {
    height: 240px;
  }

  .speakercard:hover .speakercard__body {
    height: 220px;
  }


  .speakercard__description {
    padding: 0 10px;
  }
}



.judgecard {
  width: 340px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}

.judgecard a {
  color: inherit;
  text-decoration: none;
}

.judgecard__thumb {
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.judgecard__thumb img {
  width: 100%;
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.judgecard:hover .judgecard__thumb img {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.judgecard__body {
  position: relative;
  height: 90px;
  padding-top: 10px;
  text-align: center;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.judgecard__title {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .judgecard {
    width: 280px;
    margin: auto;
  }

  .judgecard__thumb {
    height: 240px;
  }
}