.radial_bg-text {
  text-decoration-color: radial-gradient(61.85% 61.85% at 51.18% 57.69%,
      #ff005d 0%,
      #440089 100%);
}

.square-box {
  background-color: #ff005d;
  opacity: 12%;
}

.parent-element {
  border-color: radial-gradient(61.85% 61.85% at 51.18% 57.69%,
      #ff005d 0%,
      #440089 100%);
}

.participation {
  background: linear-gradient(180deg,
      rgba(80, 2, 112, 0.45) 0%,
      rgba(0, 6, 31, 0.45) 100%);
}

.first-place {
  background: linear-gradient(181.54deg,
      rgba(246, 228, 120, 0.2756) 16.74%,
      rgba(0, 0, 0, 0) 82.47%);
}

.second-place {
  background: linear-gradient(180deg,
      rgba(196, 196, 196, 0.3016) 8.56%,
      rgba(0, 0, 0, 0) 81.9%);
}

.third-place {
  background: linear-gradient(180deg,
      rgba(176, 111, 71, 0.52) 0%,
      rgba(0, 0, 0, 0) 89.58%);
}


.prizescard {
  width: 340px;
  background-color: #222;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}

.prizescard a {
  color: inherit;
  text-decoration: none;
}

.prizescard:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.prizescard__thumb {
  height: 340px;
  overflow: hidden;
  background-color: #000;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.prizescard__thumb img {
  width: 100%;
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.prizescard:hover .prizescard__thumb {
  height: 130px;
}

.prizescard:hover .prizescard__thumb img {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.prizescard__body {
  position: relative;
  height: 60px;
  padding-top: 10px;
  text-align: center;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.prizescard:hover .prizescard__body {
  height: 200px;
}


.prizescard__title {
  margin: 0;
  padding: 0 0 10px 0;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.prizescard__description {
  color: #fff;
  line-height: 27px;
  opacity: 0;
  padding: 10px 20px 0;
  height: 100%;
  overflow-y: scroll;
  -webkit-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.prizescard__description::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}


.prizescard__description::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 100vh;

}

.prizescard:hover .prizescard__description {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

@media only screen and (max-width: 600px) {
  .prizescard {
    width: 280px;
    margin: 12px auto;
  }

  .prizescard__thumb {
    height: 240px;
  }

  .prizescard:hover .prizescard__body {
    height: 220px;
  }


  .prizescard__description {
    padding: 0 10px;
    height: 75%;
  }
}

.challprizescard {
  min-height: 210px;
  width: 320px;
  margin: 40px 10px;
  /* padding: 1.2rem 1rem 0 1rem; */
  cursor: pointer;
  border-radius: 10px;
  /* background-color: #440089; */
}

.challprizescard img {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all .5s ease-in-out;
}

.challprizescard__content {
  margin: 1rem;
  color: #fff;
  overflow: hidden;
  margin-top: -240px;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
}

.challprizescard__content h2 {
  margin: .6rem auto;
  text-align: center;
}

.challprizescard__content p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  text-align: center;
}

.challprizescard__content a {
  width: 200px;
  padding: 10px 15px;
  display: block;
  text-align: center;
  margin: 1rem auto;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  background-color: #222;
  border-radius: 10px;
  transition: .3s;
}

.challprizescard__content a:hover {
  color: #fff;
  background-color: #000;
}

.challprizescard:hover img {
  margin-top: -60px;
  box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.3);
}

.challprizescard:hover>.challprizescard__content {
  margin-top: 12px;
  opacity: 1;
  visibility: visible;
}