.underline_hover:hover {
  color: #fff;
}

.underline_hover:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  text-align: center;
  display: block;
  height: 2px;
  position: relative;
  background: linear-gradient(90deg, rgba(176, 37, 88, 1), #ec521a);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.underline_hover:hover:after {
  width: 100%;
  left: 0;
}

.main_grad {
  position: relative;
  background: linear-gradient(
      280.15deg,
      rgba(231, 78, 31, 0.7) -5.92%,
      rgba(231, 78, 31, 0) 18.17%
    ),
    #0f1642;
}
.frameworks_grad {
  background: -webkit-linear-gradient(-70deg, #e24a24, #b02558);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-gradient {
  background: linear-gradient(131.66deg, #6d77b7 0.58%, #0f1642 47.02%);
}
