:root {
  --plat: linear-gradient(#FFFFFF, #777777);
  --gold: linear-gradient(rgba(255, 163, 26, 0.92), rgba(255, 232, 26, 1.0));
  --silv: linear-gradient(#656362, #363636);
}

#Platinum {
  background: var(--plat);
}

#Gold {
  background: var(--gold);
}

#Silver {
  background: var(--silv);
}

.bigCont {
  height: 330;
  width: auto;
  margin: 5px;
  padding: 3px;
  border-radius: 52px;
}

#grid {
  background: black;
  border-radius: 52px;
  padding: 10px;
  width: auto;
  height: 328px;
  display: grid;
  gap: 10px;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  grid-auto-flow: row dense;
}