.Box-shadow {
  box-shadow: 6px 6px 2px #08cfe9;
}

.shadow-one {
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
}

.shadow-two {
  -webkit-box-shadow: 0 0 4px #fff;
  box-shadow: 0 0 4px #efefef;
}

.shadow-three{
  -webkit-box-shadow: 0 0 4px #fff;
  box-shadow: 0 0 4px #fff;
}