.around-head {
  position: absolute;
  width: 233px;
  height: 148.83px;
  left: 604px;
  top: 1062.96px;
}
h2 {
  align-items: center;
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 151px;

  color: #ffffff;

  text-shadow: 4px 4px 8px #ea33f8;
}
.around-abt {
  position: absolute;
  width: 949px;
  height: 198.11px;
  left: 241px;
  top: 1324.15px;

  background: #ffffff;
  background-blend-mode: hue;
  border: 2px solid #3f3c3c;
  box-sizing: border-box;
  box-shadow: 3px 1px 22px 1px #ea33f8;
  border-radius: 55px;

  position: absolute;
  width: 863px;
  height: 116.3px;
  left: 284px;
  top: 1365.55px;
}
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "pnum" on, "lnum" on, "ss01" on, "ss03" on;

  color: #ffffff;
}
